certifi==2020.6.20
cycler==0.10.0
Cython==0.29.21
kiwisolver==1.4.2
matplotlib==3.8.2
menpo==0.10.0
numpy==1.26.2
opencv-contrib-python==4.6.0.66
Pillow>=9.0.1
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-sip==12.13.0
python-dateutil==2.8.1
scipy==1.10.0
six==1.15.0
pyinstaller>=5.12
attrdict==2.0.1
wxPython==4.2.1
imutils==0.5.4
appdirs==1.4.4
pyopencl==2022.3
pyvips==2.2.1